/* By default kbd doesn't stand out very much. Let's fix this! */
kbd {
    padding: 3px 5px;
    border: solid 1px #ccc;
    background-color: #fcfcfc;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb;
    display: inline-block;
}

/* The default font-size for code blocks is 75% which makes code
hard to read. */
code {
    font-size: 90%;
}
