---
name: Deploy to GitHub pages

"on":
  push:
    branches:
      - gh-pages

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      BRIDGETOWN_ENV: production
      BASE_PATH: >-
        ${{ github.repository != 'rubocop/rubocop'
            && '/rubocop' || '/' }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "npm"
      - run: npm install

      - name: Build
        run: bin/bridgetown deploy

      - name: Upload build artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./output

  deploy:
    needs: build

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
