name: Linting
on:
  - pull_request
  - workflow_dispatch
permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
jobs:
  yamllint:
    permissions:
      contents: read  # for actions/checkout to fetch code
      pull-requests: write  # for karancode/yamllint-github-action to post comments on PRs
    name: Yamllint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Yamllint
        uses: karancode/yamllint-github-action@master
        with:
          yamllint_comment: true
        env:
          GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
